
.margin-top-50px {
    margin-top: 50px;
}

.green-button {
    background-color: #94c83d;
    color: white;
    transition: 0.5s;
}

.green-button:hover {
    color: #505050;
}

/*--------------------------------- Main Navigation*/
.nav {
    border-bottom: 5px solid #ff8500;
}

.nav-link-colour {
    color: #505050;
    margin-right: 20px;
    transition: 0.5s;
}

.nav-link-colour:hover {
    color: #ff8500;
}

/*--------------------------------- Header*/
.header-hr {
    background-color: #ff8500;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 3px;
    max-width: 50%;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

header p {
    margin-top: 30px;
}

.header-button {
    text-align: center;
}

/*--------------------------------- Fundraiser page*/


.intro-fund-page {
    margin-top: 30px;
}

.read-more-btn {
    margin-top: 20px;
    background-color: #03ADDF;
    color: white;
    transition: 0.5s;
}

.read-more-btn:hover {
    color: #505050;
}

.fundraiser-hr {
    background-color: #ff8500;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 80%;
}


/*--------------------------------- Fundraiser information page*/

.fund-img-border{
   color: #03ADDF;
}

.fund-info-icon{
    font-size: 80px;
    color: #03ADDF;
    padding-right: 20px;
}

.icon, .icon-info {
    display: inline-block;
}

.fund-details {
    border: 1px solid #03ADDF;
    padding: 20px;
    margin-top: 20px;
}

.delete-btn {
    background-color: #cc3300;
    color: white;
}

.btn-space {
    padding-left: 20px;
    padding-right: 20px;
}

/*--------------------------------- Forms*/
 .form-header {
     margin-top: 30px;
 }
 
 .form-block {
     margin-top: 50px;
     border: 5px solid #ff8500;
 }
 
 .form-content {
     padding: 40px;
     max-width: 80%;
     margin: 10px auto;
 }
 
  .form-content h6{
      margin-bottom: 40px;
  }
 
 .form-btn {
     margin-top: 20px;
 }
 
 .edit-intro {
     min-height: 100px;
 }


/*--------------------------------- Footer*/
footer {
    background-color: #ff8500;
    height: 100px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

footer a i {
    font-size: 30px;
}

footer a  {
    color: white;
    transition: 0.5s;
}

footer a:hover  {
    color: #505050;
    text-decoration: none;
}

.footer-space {
    margin-top: 10px;
}

.footer-nav{
    margin-top: 20px;
}

.footer-info {
    margin-top: 15px;
}

.disclaimer{
    margin-top: 40px;
}









/*---------------------------------Media Queries large screen*/

@media (min-width:1025px) {
    .page-width-container {   
        max-width: 80%;
    }
    .fundraiser-img {
    max-height: 300px;
    width: auto;
   }
}