
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h6 {
    font-family: 'Oswald', sans-serif;
}



.margin-top-50px {
    margin-top: 50px;
}

.green-button {
    background-color: #94c83d;
    color: white;
    transition: 0.5s;
}

.green-button:hover {
    color: #505050;
}

.blue-btn {
    background-color: #03ADDF;
    color: white;
    transition: 0.5s;
}

.blue-btn:hover {
    color: #505050;
}

.headers-position {
    text-align: center;
    margin-top: 30px;
}

.general-hr {
    background-color: #ff8500;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 5px;
    max-width: 50%;
}

.thin-hr {
    background-color: #ff8500;
    max-width: 80%;
    height: 2px;
}

 .back-to-top-link {
        text-align: center;
        
}

.back-to-top-link a {
    color: #505050;
    transition: 0.5s;
}

.back-to-top-link a:hover {
    color: #ff8500;
    text-decoration: none;
}

/*--------------------------------- Main Navigation*/
.nav {
    border-bottom: 10px solid #ff8500;
}

.nav-link-colour {
    color: #505050;
    margin-right: 20px;
    transition: 0.5s;
}

.nav-link-colour:hover {
    color: #ff8500;
}

/*--------------------------------- Headers*/

header p {
    margin-top: 30px;
}

.header-button {
    text-align: center;
}

/*--------------------------------- Home page*/

.home-text {
    padding: 30px 10px 10px 30px ;
}

.welcome-section {
    margin-top: 50px;
}

.welcome-border {
    border: 3px solid #e7e5e1;
}

.get-invloved-headers {
    margin-bottom: 50px;
}

.get-involved-headers {
    text-align: center;
    margin-top: 10px;
}

.get-involved-hr {
   margin-top: 50px;
   margin-bottom: 50px; 
}

.home-add-fund {
    margin-top: 50px;
    margin-bottom: 50px;
}



/*--------------------------------- Fundraiser page*/


.intro-fund-page {
    margin-top: 30px;
}


.read-more-btn {
   margin-top: 20px; 
}



.fundraising-hr {
    margin-top: 40px;
    margin-bottom: 40px;
}


/*--------------------------------- Fundraiser information page*/

.fund-img-border{
   color: #03ADDF;
}

.fund-info-icon{
    font-size: 80px;
    color: #03ADDF;
    padding-right: 20px;
}

.icon, .icon-info {
    display: inline-block;
}

.fund-details {
    border: 1px solid #03ADDF;
    padding: 20px;
    margin-top: 20px;
}

.delete-btn {
    background-color: #cc3300;
    color: white;
}

.btn-space {
    padding-left: 20px;
    padding-right: 20px;
}

/*--------------------------------- Forms*/
 .form-header {
     margin-top: 30px;
 }
 
 .form-block {
     margin-top: 50px;
     border: 5px solid #ff8500;
 }
 
 .form-content {
     padding: 40px;
     max-width: 80%;
     margin: 10px auto;
 }
 
  .form-content h6{
      margin-bottom: 40px;
  }
 
 .form-btn {
     margin-top: 20px;
 }
 

/*--------------------------------- Footer*/
footer {
    background-color: #ff8500;
    height: 100px;
    margin-top: 50px;
    text-align: center;
    color: white;
}

footer a i {
    font-size: 30px;
}

footer a  {
    color: white;
    transition: 0.5s;
}

footer a:hover  {
    color: #505050;
    text-decoration: none;
}

.footer-space {
    margin-top: 10px;
}

.footer-nav{
    margin-top: 20px;
}

.footer-info {
    margin-top: 15px;
}

.disclaimer{
    margin-top: 40px;
}

/*---------------------------------Media Queries mobile and tablet screen*/

@media (max-width:1025px) {
    .disclaimer {
        display: none;
    }
    
}

@media (max-width:1200px) {
    .welcome-sm {
        margin: 0px 20px 0px 20px;
    }
    .better-life-sm {
        margin: 50px 20px 0px 20px;
    }
    .view-donate-sm {
        margin-top: 50px;
    }
    .home-add-fund {
        margin-top: 0px;
    }
   
}

@media (max-width:720px) {
    .sm-display-none {
        display: none
    }
}






/*---------------------------------Media Queries large screen*/

@media (min-width:1025px) {
    
    .fundraiser-img {
    max-height: 300px;
    width: auto;
   }
   .page-width-container {   
        width: 80%;
    }
    
}

