/*--------------------------------- General styling*/
body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h6 {
    font-family: 'Oswald', sans-serif;
}

.margin-top-50px {
    margin-top: 50px;
}

.headers-position {
    text-align: center;
    margin-top: 30px;
}

.general-hr {
    background-color: #ff8500;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 5px;
    max-width: 50%;
}

.thin-hr {
    background-color: #ff8500;
    max-width: 80%;
    height: 2px;
}

.back-to-top-link, .back-to-fundraisers a {
    color: #505050;
    transition: 0.5s;
}

.back-to-top-link, .back-to-fundraisers a:hover {
    color: #ff8500;
    text-decoration: none;
}

/*--------------------------------- General button styling*/
.green-button {
    background-color: #94c83d;
    color: white;
    transition: 0.5s;
}

.green-button:hover {
    color: #505050;
}

.blue-btn {
    background-color: #03ADDF;
    color: white;
    transition: 0.5s;
}

.blue-btn:hover {
    color: #505050;
}


/*--------------------------------- Main Navigation*/
.nav {
    border-bottom: 10px solid #ff8500;
}

.nav-link-colour {
    color: #505050;
    margin-right: 20px;
    transition: 0.5s;
}

.nav-link-colour:hover {
    color: #ff8500;
}

.navbar-toggler-icon {
    color: #505050;
    margin-top: 10px;
    font-size: 30px;
}
.navbar-toggler {
    padding: 4px 0px;
}

.navbar-brand {
    padding: 0px;
}

/*--------------------------------- Headers*/
.page-headers p {
    margin-top: 30px;
}

.headers-button {
    margin-top: 40px;
}

/*--------------------------------- Home page*/
.home-text {
    padding: 30px 10px 10px 30px ;
}

.welcome-section {
    margin-top: 50px;
}

.welcome-border {
    border: 3px solid #e7e5e1;
}

.get-invloved-headers {
    margin-bottom: 50px;
}

.get-involved-headers {
    text-align: center;
    margin-top: 10px;
}

.get-involved-hr {
   margin-top: 50px;
   margin-bottom: 50px; 
}

.home-add-fund {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*--------------------------------- Fundraisers and  search results page*/
.intro-fund-page {
    margin-top: 30px;
}

.read-more-btn {
   margin-top: 20px; 
}

.fundraising-hr {
    margin-top: 40px;
    margin-bottom: 50px;
}

.fund-main {
    margin-top: 50px;
    margin-bottom: 10px;
}

/*--------------------------------- Fundraisers page*/
.search-block {
    margin-bottom: 30px;
    max-width: 50%;
}

.page-link {
    color: #505050;
}

.page-link:hover {
    background-color: #cac9c9;
}

.page-item.active .page-link{
    background-color: #ff8500;
    border-color: #505050;
}

.pagin-space {
    margin-bottom: 50px;
}

/*--------------------------------- Fundraiser information page*/
.alert-close {
    color: #505050;
    font-size: 30px;
}

.alert-txt {
    background-color: #dcefbc;
    color: #505050;
    border: 5px solid #94c83d;
}

.fund-info-icon{
    font-size: 80px;
    color: #03ADDF;
    padding-right: 20px;
}

.icon, .icon-info {
    display: inline-block;
}  

.target-country{
   font-size: 1.8em;
}

.target-country-border {
    border: 3px solid #03ADDF;
}

.targ-count-block {
    padding-top: 10px;
}

.display-title {
    color: #03ADDF;
}

.fund-details {
    border: 3px solid #03ADDF;
    padding: 20px;
    margin-top: 20px;
}

.delete-btn {
    background-color: #cc3300;
}

.delete-button-txt {
    color: white;
}

.close-btn {
    margin-right: 60px;
}

.btn-space {
    padding-left: 20px;
    padding-right: 20px;
}

.modal-header {
    background-color: #03ADDF; 
    color: white;
}

.close-icon {
    color: white;
    font-size: 30px;
}


/*--------------------------------- All forms*/
 .form-block {
     margin-top: 50px;
     border: 5px solid #ff8500;
 }
 
  .form-control {
    border: 1px solid #ff8500;
 }
 
 .form-btn {
     margin-top: 20px;
 }
 
 
 /*--------------------------------- register and login pages*/
  
  .log-reg-form {
      max-width: 30%;
  }
  .log-reg-content {
     padding: 40px;
     max-width: 70%;
     margin: 10px auto;
  }
 
 
 
/*--------------------------------- Add, edit and contact us forms*/
 .form-header {
     margin-top: 30px;
 }
 
 .form-header p {
     margin-top: 30px;
 }
 
 .form-content {
     padding: 40px;
     max-width: 80%;
     margin: 10px auto;
 }
 
 .form-content-h6{
      margin-bottom: 40px;
 }
 
/*--------------------------------- Search results*/
 


/*--------------------------------- Footer*/
footer {
    background-color: #ff8500;
    height: 100px;
    margin-top: auto;
    text-align: center;
    color: white;
}

footer a i {
    font-size: 2em;
}

footer a  {
    color: white;
    transition: 0.5s;
}

footer a:hover  {
    color: #505050;
    text-decoration: none;
}

.footer-space {
    margin-top: 5px;
}

.footer-info {
    margin-top: 15px;
}

.disclaimer, .footer-nav{
    margin-top: 40px;
}

/*---------------------------------Media Queries mobile and tablet screen*/

@media (max-width:720px) {
    .sm-display-none {
        display: none
    }
    .page-padding-sm {
        padding: 0px;
    }
    .btn-space-sm {
        margin-top: 30px;
    }
}

@media (max-width:1025px) {
    .disclaimer, .footer-info p {
        display: none;
    }
    .footer-info {
        margin-top: 40px;
    }
}

@media (max-width:1200px) {
    .welcome-sm {
        margin: 0px 20px 0px 20px;
    }
    .better-life-sm {
        margin: 50px 20px 0px 20px;
    }
    .view-donate-sm, .country-display-sm {
        margin-top: 50px;
    }
    .home-add-fund {
        margin-top: 0px;
    }
    .fund-name-sm {
        margin-top: 30px;
    }
    .fund-main p, .page-headers p {
       padding-left: 20px;
       padding-right: 20px;
    }
    .form-block {
        max-width: 90%;
        margin: 30px auto;
    }
    .form-content {
        padding: 40px 0px;
        max-width: 90%;
    }
}

@media (max-width:1700px) {
    .log-reg-form {
        max-width: 80%;
    }
}


/*---------------------------------Media Queries large screen*/

@media (min-width:1025px) {
    .fundraiser-img {
        max-height: 300px;
        width: auto;
   }
   .page-width-container {   
        width: 80%;
    }
    .display-none-lg {
        display: none;    
    }
}





