{% extends 'base.html' %} {% block content %}



<div class="container-fluid page-width-container">
    <header>
        <h1 class="headers-position">Fundraisers Page</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </p>
        <div class="text-center">
            <a class="btn green-button" href="{{ url_for('add_fundraiser') }}" role="button">Add a fundraiser</a>
        </div>
    </header> 
    
    <hr class="general-hr">
    
    <main>
        
        <div class="container-fluid">
        {% for fundraiser in fundraisers %}    
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6">
                    <img class="img-fluid" src="{{fundraiser.fundraiser_image}}"> 
                </div>  
                
                <div class="col-xl-4 col-lg-6">
                    <h3 class="text-center">{{fundraiser.fundraiser_name}}</h3>
                    <p class="intro-fund-page">{{fundraiser.fundraiser_intro}}</p>
                    <div class="text-center">
                        <a class="btn blue-btn read-more-btn" href="{{ url_for('fundraiser', fundraisers_id=fundraiser._id) }}" role="button">Read More</a>
                    </div>
                </div> 
            </div>
            <hr class="fundraiser-hr">
         {% endfor %}   
         
         
        </div>
        
        
        
    </main>

</div>

{% endblock %}
