{% extends 'base.html' %} {% block content %} 
            

<div class="page-width-container">
    <header>
        <h1 class="text-align-center">Fundraiser Information page</h1>
        
    </header> 
    
    <hr>
    
    <main>
        
        <div class="container-fluid">
        
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid" src="{{fundraiser.fundraiser_image}}"> 
                </div>  
                <div class="col-8">
                    <h3>{{fundraiser.fundraiser_name}}</h3>
                    <p>{{fundraiser.fundraiser_intro}}</p>
                    <a class="btn btn-primary" href="{{ url_for('edit_fundraiser', fundraiser_id=fundraiser._id)}}" role="button">Edit</a>
                </div> 
            </div>
        
        </div>
       
        
    </main>
 
</div>

{% endblock %}